nav {
  /* background-color: rgb(90, 206, 252); */
  /* background: linear-gradient(to right, #2193b0, #6dd5ed); */
  /* background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); */
  /* background: linear-gradient(to right, #c31432, #240b36); */
}

nav ul {
  margin: 0 0 10px 0;
  display: flex;
  padding: 10px;
  list-style-type: none;
}

nav ul li{
  padding: 5px;
}
